/* header */

header {
  background-image: url("../assets/start-study/header-background.png") !important;
}

/* --- img no Mobile (Mobile) --- */

@media (max-width: 768px) {
  header {
    background-image: linear-gradient(
        rgba(71, 72, 74, 0.7),
        rgba(54, 61, 67, 0.7)
      ),
      url("../assets/start-study/header-background.png") !important;
    background-position: 80% 50%;
  }
}
